<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ver reservas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ol>
      <li *ngFor="let reserva of reservasRealizadas">
        <ion-label>{{ reserva.doctor }}, {{reserva.sede}}</ion-label><br>
        <a id="present-alert" style="font-size: 10px;" disabled>MODIFICAR</a>
        <a style="font-size: 10px; color: red" (click)="deleteReserva(reserva)">ELIMINAR</a>
        <br>
        -----------------------------------------------------
      </li>
    </ol>
      <a [routerLink]="['/login']">VOLVER</a><br>
  </div>
</ion-content>
