<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Asistencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ol>
        <ion-item *ngFor="let asistencia of asistencias; let i = index">
          <ion-label style="font-size: 12px;">
            Alumno: {{ asistencia.alumno }}<br>
            Docente: {{ asistencia.docente }}<br>
            Fecha: {{ asistencia.fecha }}<br>
            Asignatura: {{ asistencia.asignatura }}<br>
          </ion-label>
        </ion-item>
      </ol>
    </ion-list>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-button [routerLink]="['/login']" size="small" shape="round">Volver</ion-button>
  </div>

  
</ion-content>