<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <br>
      <h1>RegistrApp</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <!-- Mostrar solo para usuarios con rol D -->
    <div *ngIf="user.rol === 'D'">

      <h1 id="titulo">
        Bienvenido profesor
      </h1>
      <ion-label>Usuario: {{user.usuario}}</ion-label><br>
      <ion-label>Rol: {{user.rol}}</ion-label><br><br>
      <div>
        <ion-router-outlet></ion-router-outlet>
      </div>

      <ion-button (click)="openModal()">Generar código QR</ion-button><br>
      <!--
        <ion-button [routerLink]="['/listasistencia']">Lista asistencia</ion-button><br>
      -->
      <ion-button id="open-modal" (click)="cargarAsistencias()">Ver asistencias</ion-button><br>
    </div>

    <!-- Mostrar solo para usuarios con rol A -->
    <div *ngIf="user.rol === 'A'">

      <h1 id="titulo">
        Bienvenido alumno
      </h1>
      <ion-label>Usuario: {{user.usuario}}</ion-label><br>
      <ion-label>Rol: {{user.rol}}</ion-label><br><br>
      <div>
        <ion-router-outlet></ion-router-outlet>
      </div>

      <ion-list>
        <ion-item *ngFor="let barcode of barcodes">
          <ion-label position="stacked">{{ barcode.format }}</ion-label>
          <ion-input type="text" [value]="barcode.rawValue"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="scan()" [disabled]="!isSupported">
        Scanner QR <ion-icon slot="end" name="scan"></ion-icon>
      </ion-button>

      <!--
        <ion-button [routerLink]="['/asistencia']">marcar assitencia</ion-button><br>
      -->
      <ion-button id="open-modal1" >Open asistencia</ion-button><br>
    </div>
  
    <ion-button id="btnAcciones" (click)="presentActionSheet()">Ver acciones</ion-button>
  </div>

  <!--Modal Código QR-->

  <ion-modal [isOpen]="showModal" (ionModalDidDismiss)="modalDismissed()">
    <ion-content>
      <div class="container">
      <!-- Sección del código QR -->        
        <div *ngIf="qrCodeURL">
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button class="toolbar" (click)="closeModal()">Cerrar</ion-button>
              </ion-buttons>
              <ion-title>
                <br>
                <h1>Código QR</h1>
              </ion-title>
            </ion-toolbar>
          </ion-header>

          <ion-grid>
            <ion-row justify-content-center align-items-center>
              <ion-col>
                <ion-card>
                  <!-- Your card content goes here -->
                  <ion-card-content>
                    <img class="center-image" [src]="qrCodeURL" alt="Cargando..." /><br>
                    <strong>Valor de QR: </strong><br>
                    {{ qrCodeURL }}<br>

                    <ion-button (click)="generateMyQRCode()" >regenerar</ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>
      </div>
      <!-- Sección del registro -->
      <div *ngIf="!showQRSection">
        <ion-button (click)="showQRSectionFunc()">Mostrar QR</ion-button>
      </div>
    </ion-content>
  </ion-modal>

  <!--Modal Lista de asistencia-->

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content color="light">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button class="toolbar" (click)="modal.dismiss()">Cerrar</ion-button>
            </ion-buttons>
            <ion-title>
              <br>
              <h1>Lista de asistencia</h1>
            </ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-list>
          <ion-list-header>
            <h1>{{ asistencias[0].asignatura }}</h1>
          </ion-list-header>
          <ion-item>
            <ion-grid>
              <ion-row>
                <h2><ion-col><strong>Docente: </strong>{{ asistencias[0].docente }}</ion-col></h2>
                <ion-col></ion-col>
                <h2><ion-col><strong>Fecha: </strong>{{ asistencias[0].fecha }}</ion-col></h2>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-list-header>
            <h1>Alumnos</h1>
          </ion-list-header>
          <ion-item *ngFor="let asistencia of asistencias; let i = index">
            <ion-label style="font-size: 12px;">
              {{ i+1 }}. {{ asistencia.alumno }}<br>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>

  <!--Modal marcar asistencia-->

  <ion-modal #modal trigger="open-modal1">
    <ng-template>
      <ion-content color="light">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button class="toolbar" (click)="closeModal()">Cerrar</ion-button>
            </ion-buttons>
            <ion-title>
              <br>
              <h1>Asistencia</h1>
            </ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ asignatura }}</ion-card-title>
            <ion-card-subtitle>Docente: {{ docente }}</ion-card-subtitle>
            <ion-card-subtitle>Fecha: {{ fecha }}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button (click)="confirmarAsistencia()" class="buton" id="open-modal" style="width: 248px;">
              Confirmar asistencia
            </ion-button>
          </ion-card-content>
        </ion-card>

        <ion-toast *ngIf="asistenciaConfirmada" message="message" duration="5000"></ion-toast>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<app-footer></app-footer>
