<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <br>
      <h1>RegistrApp</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1 id="titulo">
      Bienvenido alumno!
    </h1>
    <ion-label>Usuario: {{user.usuario}}</ion-label><br>
    <ion-label>Rol: {{user.rol}}</ion-label><br><br>
    <div>
      <ion-router-outlet></ion-router-outlet>
    </div>

    <!-- Mostrar solo para usuarios con rol D -->
    <ion-button *ngIf="user.rol === 'D'" (click)="openModal()">Generar código QR<br></ion-button>
    <ion-button *ngIf="user.rol === 'D'" [routerLink]="['/listasistencia']" size="small" shape="round">Lista asistencia<br></ion-button>

    <!-- Mostrar solo para usuarios con rol A -->
    <ion-button *ngIf="user.rol === 'A'" [routerLink]="['/scanner-qr']" size="small" shape="round">Scanner QR<br></ion-button>
    <!--<ion-button *ngIf="user.rol === 'A'" [routerLink]="['/asistencia']" size="small" shape="round">Ver assitencia<br></ion-button>-->
    <ion-button id="btnAcciones" (click)="presentActionSheet()">Ver acciones</ion-button>
  </div>

  <ion-modal [isOpen]="showModal" (ionModalDidDismiss)="modalDismissed()">
    <ion-content>
      <!-- Sección del código QR -->        
      <div *ngIf="qrCodeURL">
        <ion-header>
          <ion-toolbar>
            <ion-title>
              Coídgo QR
            </ion-title>
          </ion-toolbar>
        </ion-header>

        <div id="container">
          <ion-card>
            <ion-card-content>
              <img class="centered-image" [src]="qrCodeURL" alt="Cargando..." /><br>
              <a style="color: red; font-size: 15px;"  (click)="closeModal()">CERRAR</a>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <!-- Sección del registro -->
      <div *ngIf="!showQRSection">
        <ion-button (click)="showQRSectionFunc()">Mostrar QR</ion-button>
      </div>
    </ion-content>
  </ion-modal>
</ion-content>
<app-footer></app-footer>
