<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <br>
      <h1>RegistrApp</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1 id="titulo">
      Bienvenido alumno!
    </h1>
    <ion-label>Usuario: {{user.usuario}}</ion-label><br>
    <ion-label>Rol: {{user.rol}}</ion-label><br><br>
    <div>
      <ion-router-outlet></ion-router-outlet>
    </div>

    <!-- Mostrar solo para usuarios con rol D -->
    <div *ngIf="user.rol === 'D'">
      <ion-button (click)="openModal()">Generar código QR</ion-button><br>
      <ion-button [routerLink]="['/listasistencia']">Lista asistencia</ion-button><br>
      <ion-button id="open-modal" (click)="cargarAsistencias()">Open Modal</ion-button><br>
    </div>

    <!-- Mostrar solo para usuarios con rol A -->
    <div *ngIf="user.rol === 'A'">
      <ion-button [routerLink]="['/scanner-qr']">Scanner QR</ion-button><br>
      <ion-button [routerLink]="['/asistencia']">marcar assitencia</ion-button><br>
    </div>
  
    <ion-button id="btnAcciones" (click)="presentActionSheet()">Ver acciones</ion-button>
  </div>

  <!--Modal Código QR-->

  <ion-modal [isOpen]="showModal" (ionModalDidDismiss)="modalDismissed()">
    <ion-content>
      <!-- Sección del código QR -->        
      <div *ngIf="qrCodeURL">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button class="toolbar" (click)="closeModal()">Cerrar</ion-button>
            </ion-buttons>
            <ion-title>
              <br>
              <h1>Código QR</h1>
            </ion-title>
          </ion-toolbar>
        </ion-header>
        <img class="center-image" [src]="qrCodeURL" alt="Cargando..." /><br>
      </div>
      <!-- Sección del registro -->
      <div *ngIf="!showQRSection">
        <ion-button (click)="showQRSectionFunc()">Mostrar QR</ion-button>
      </div>
    </ion-content>
  </ion-modal>

  <!--Modal Lista de asistencia-->

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content color="light">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button class="toolbar" (click)="modal.dismiss()">Cerrar</ion-button>
            </ion-buttons>
            <ion-title>
              <br>
              <h1>Lista de asistencia</h1>
            </ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-list>
          <ion-list-header>
            <h1>{{ asistencias[0].asignatura }}</h1>
          </ion-list-header>
          <ion-item *ngFor="let asistencia of asistencias; let i = index">
            <ion-label style="font-size: 12px;">
              Alumno: {{ asistencia.alumno }}<br>
              Docente: {{ asistencia.docente }}<br>
              Fecha: {{ asistencia.fecha }}<br>
              Asignatura: {{ asistencia.asignatura }}<br>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<app-footer></app-footer>
