<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reservar-cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1 id="titulo">
      Formulario de reserva
    </h1>

    <ion-list>

      <h2><ion-label labelPlacement="start">Fecha</ion-label></h2>
      <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <h2><ion-label labelPlacement="start">Especialidad</ion-label></h2>
      <ion-item>
        <ion-radio-group value="">
          <ion-radio value="dcotor1" justify="space-between">Fisiatría</ion-radio><br /><br>
          <ion-radio value="doctor2" justify="space-between">Cardiología</ion-radio>
        </ion-radio-group>
      </ion-item>

      <h2><ion-label labelPlacement="start">Doctor</ion-label></h2>
      <ion-item>
        <ion-radio-group value="">
          <ion-radio value="dcotor1" justify="space-between">Dr. Gallardo</ion-radio><br /><br>
          <ion-radio value="doctor2" justify="space-between">Dra. Villalobos</ion-radio>
        </ion-radio-group>
      </ion-item>

      <h2><ion-label labelPlacement="start">Sede de atención</ion-label></h2>
      <ion-item>
        <ion-radio-group value="Centro Médico Galenos">
          <ion-radio value="dcotor1" justify="space-between">Centro Médico Galenos</ion-radio><br /><br>
          <ion-radio value="doctor2" justify="space-between">Centro Médico Vitacura</ion-radio>
        </ion-radio-group>
      </ion-item>

    </ion-list>

    <br><br>
    <ion-button [routerLink]="['/login']" size="small" shape="round">Guardar</ion-button>
  </div>
</ion-content>x|