<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Formulario de reserva</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input [(ngModel)]="reserva.fecha" label="Fecha" label-placement="floating"  fill="outline" placeholder="Enter text"></ion-input><br>
        <ion-input [(ngModel)]="reserva.especialidad"label="Especialidad" label-placement="floating"  fill="outline" placeholder="Enter text"></ion-input><br>
        <ion-input [(ngModel)]="reserva.doctor"label="Doctor" label-placement="floating"  fill="outline" placeholder="Enter text"></ion-input><br>
        <ion-input [(ngModel)]="reserva.sede"label="Sede" label-placement="floating"  fill="outline" placeholder="Enter text"></ion-input><br>

        <ion-button (click)="confirm()">Guardar</ion-button><br>
        <br>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>