<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-title>Escanear</ion-title>
    <p>Ubice el lector dónde desea escanear el código QR</p>
    <ion-card>
      <ion-card-content>
        <img alt="QR code scanner" [src]="qrCodeUrl" />
      </ion-card-content>
    </ion-card><br>
    <ion-button class="buton" shape="round" size="small" [routerLink]="['/asistencia']">Marcar asistencia</ion-button><br><br>
    <ion-button shape="round" size="small" [routerLink]="['/login']">Volver</ion-button>
  </div>
</ion-content>

