<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inicio de sesión</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input [(ngModel)]="user.usuario" label="Nombre de usuario" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
        <ion-input [(ngModel)]="user.password" label="Contraseña" type="password" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input><br>
        <ion-item>
          {{mensaje}}
        </ion-item><br>
        <ion-button (click)="enviarInformacion()" size="small" shape="round">Conectar</ion-button><br>
        <ion-button (click)="openModal()">Registrarse</ion-button><br>
      </ion-card-content>
    </ion-card>
  </div>

    <ion-alert trigger="present-alert" header="Registro" subHeader="{{mensaje}}" [buttons]="alertButtons"></ion-alert>
<!-- Modal Section Begin -->
<!-- Modal Section Begin -->
  <ion-modal [isOpen]="showModal" (ionModalDidDismiss)="modalDismissed()">
    <ion-header>
        <ion-toolbar>
            <ion-title>
              Registro
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
  <!-- Sección del registro -->
      <div *ngIf="!showQRSection">
        <ion-header [translucent]="true">
          <ion-toolbar>
            <ion-title>
              Registro
            </ion-title>
          </ion-toolbar>
        </ion-header>

        <div id="container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Registro de usuario</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-input [(ngModel)]="user.usuario" label="Nombre de usuario" label-placement="floating" type="username" fill="outline" placeholder="Enter text"></ion-input><br>
              <ion-input [(ngModel)]="user.password"label="Contraseña" label-placement="floating" type="password" fill="outline" placeholder="Enter text"></ion-input><br>
              
              <ion-item>
                <ion-label>{{estado}}</ion-label>
              </ion-item>
              <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button><br><br>
              <a style="color: red; font-size: 15px;"  (click)="closeModal()">CERRAR</a><br><br>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-content>
  </ion-modal>
<!-- Modal Section End -->
</ion-content>
